@import '../routes/styles/auth-loading.css';
@import '../layouts/styles/app-layout.css';
@import '../pages/styles/coming-soon.css';

:root {
  font-family: Roboto, Arial, sans-serif;
  color: var(--sigca-colors-text-primary);
  background-color: var(--sigca-colors-background);
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  background-color: var(--sigca-colors-background);
}

button,
input {
  font: inherit;
}
